include LICENSE THIRD_PARTY_NOTICES.md README.md CONTRIBUTING.md requirements.lock .gitignore release-files.txt
recursive-include docs *.md
recursive-include configs *.json
recursive-include benchmarks *.md *.csv *.json
recursive-include examples *.md *.json
recursive-include ratings *.md *.json
recursive-include tests *.py
recursive-include scripts *.py
recursive-include .github *.yml
global-exclude *.py[cod]
